body {
  background-color: white;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

/*----------------------------HEADER----------------------------*/
header {                     /* <--- styling header */
  background: linear-gradient(173deg, rgba(37,37,37,1) 0%, rgba(65,57,57,1) 50%);
  width: 100%;
  height: 130px;
  box-sizing: border-box;
}
#header-container {          /* <--- container for header items (logo, phone, email) */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: gray;
  font-size: 15px;
}
#logo {                      /* <--- header logo */
  background-image: url(images/logo.png);
  height: 130px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
}
#logo a {
  display: block;
  height: 100%;
  width: 100%;
}
.header-phone {              /* <--- phone email */
  width: 300px;
  text-align: center;
}
.header-email {              /* <--- header email */
  width: 300px;
  text-align: center;
}

/*----------------------------NAVIGATION----------------------------*/
.main-nav {
  background-color: #252525;
  width: 100%;
  height: 50px;
}
.nav-content {      /* <--- styling container for menu items */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  width: 840px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.nav-content ul {   /* <--- styling list for menu items */
  padding: 0px;
  color: white;
}
.nav-content li {   /* <--- styling list for menu items */
  display: inline-block;
  padding-right: 10px;
  padding-left: 5px;
  border-right: 1px solid #d3a452;
}
.nav-content a {
  padding: 11px;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
.nav-content a:hover {
  background-color: #454141;
  transition: 0.25s;
}
.active {         /* <--- active link in menu */
  border-bottom: 3px solid #d3a452;
}

/*----------------------------PACKAGE AND SPECIALS----------------------------*/
.package-special-wallpaper {           /* <--- styling wallpaper */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: white;
  background-image: url(images/package-and-specials-wallpaper.jpg);
  background-size: 100%;
  width: 100%;
  height: 430px;
  background-position: 50%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #d3a452;
}
.package-special-wallpaper h1 {          /* <--- styling title */
  background-color: rgba(0,0,0,0.3);
  box-shadow: 0px 0px 20px 10px rgba(100,100,100,0.5);
  border-bottom: 1px solid #d3a452;
}
.package-special-wallpaper h1:hover {    /* <--- on hover darken background a bit */
  background-color: rgba(0,0,0,0.5);
  transition: 0.3s;
  cursor: context-menu;
}
.package-special-container {             /* <--- parent container for text content */
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: white;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  padding: 0px;
}
.package-special-body {                  /* <--- container for text content */
  background-color: rgba(0,0,0,0.25);
  width: 900px;
  padding: 15px;
  box-sizing: border-box;
}
.package-special-body hr {               /* <--- horizontal break line */
  border: 0;
  height: 1px;
  background: #d3a452;
}
.package-special-body ul {               /* <--- no bullets for list items */
  list-style-type: none;
}

/*----------------------------FOOTER----------------------------*/
.main-footer {      /* <--- footer container */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: linear-gradient(173deg, rgba(37,37,37,1) 0%, rgba(65,57,57,1) 50%);
  width: 100%;
  padding-bottom: 50px;
}
.footer-column {    /* <--- footer column size */
  height: 100%;
  width: 220px; 
}
.footer-heading {   /* <--- footer heading style */
  font-weight: 400;
  font-size: 26px;
  color: #d3a452;
}
.footer-column p {  /* <--- footer column text color */
  color: white;
}
.contact-icon {     /* <--- contact icon styling */
  height: 25px;
  margin-bottom: -8px;
  padding-right: 5px;
}

/*----------------------------MEDIA RULE 1050px----------------------------*/
@media (max-width: 1050px) {
  
  /*------##########Package and specials##########------*/
  .package-special-wallpaper {
    background-size: 155%;
  }
  
  /*------##########Footer##########------*/
  .main-footer {          /* <--- style items inside footer container */
    padding-left: 50px;
    padding-right: 50px;
  }
}

/*----------------------------MEDIA RULE 900px----------------------------*/
@media (max-width: 900px) {

  /*------##########Navigation##########------*/
  .main-nav {             /* <--- menu transition size */
    height: 100px;
  }
  .nav-content {          /* <--- menu transition from 1 row to 2 rows */
    display: flex;
    width: 500px;
    height: 100px;
  }
  .nav-content ul {       /* <--- menu transition from 1 row to 2 rows */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-content li {       /* <--- menu transition from 1 row to 2 rows */
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .nav-content a {
    margin-left: 4px;
  }
  .mediarule2 {           /* <--- removing right gold border of item */
    border-right: none !important;
  }
}

/*------##########Checkbox for hamburger menu##########------*/
input[type=checkbox] {    /* <--- checkbox for rasponsive menu */
  display: none;
  position:absolute;
  right: 400px;
  top: 200px;
}

/*----------------------------MEDIA RULE 680px----------------------------*/
@media (max-width:680px) {

  /*------##########Header##########------*/
  .header-email {        /* <--- removing email info from header */
    display: none;
  }
  
  /*-------------STYLING and transforming hamburger menu from here to ...-------------*/
  .main-nav .menu-btn {        /* <--- checkbox act as action for click and it is invisible */
    display: block;
    background-color: red;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 35px;
    z-index: 5;
    opacity: 0;
  }
  .navicon {                   /* <--- 2/3 lines of hamburger menu */
    height: 4px;
    width: 50px;
    background-color: #d3a452;
    display: block;
    position: absolute;
    right: 35px;
    top: 25px;
    z-index: 15;
    transition: background-color 0.3s ease-in-out;
  }
  .navicon:before {            /* <--- 1/3 lines of hamburger menu */
    height: 4px;
    width: 50px;
    background-color: #d3a452;
    display: block;
    position: absolute;
    right: 0px;
    content:'';
    z-index: 14;
    top: -10px;
    transition: all 0.3s ease-out;
    transform: rotate(0deg);
  }
  .navicon:after {             /* <--- 3/3 lines of hamburger menu */
    height: 4px;
    width: 50px;
    background-color: #d3a452;
    display: block;
    position: absolute;
    right: 0px;
    content:'';
    z-index: 14;
    top: 10px;
    transition: all 0.3s ease-out;
    transform: rotate(0deg);
  }
  .main-nav {                   /* <--- black bar styling */
    background-color: #252525;
    width: 100%;
    height: 50px;
    position:absolute;
    right: 0;
    z-index: 6;
  }
  .nav-content {                 /* <--- animation when menu is clicked to show */
    transition: height 0.3s ease-in-out;
    display: block;
    background-color: #252525;
    width: 60%;
    width: 210px;
    height: 0px;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    top: 50px;
  }
  .nav-content ul {              /* <--- menu items styling */
    display: block;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
  .nav-content li {              /* <--- menu items styling */
    display: block;
    border-right: none;
    border-bottom: 1px solid #d3a452;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: right;
  }
  .nav-content a {               /* <--- menu items styling */
    padding: 4px 4px 1px 4px;
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    
  }
  .nav-content a:hover {
    background-color: transparent;
    transition: 0s;
  }
    /* <--- when button is clicked, do this... */
   .main-nav .menu-btn:checked ~ * .nav-content {
     height: 220px;
  }
  .main-nav .menu-btn:checked + * .navicon {
    background-color: transparent;
  }
  .main-nav .menu-btn:checked + * .navicon:before {
    transform: rotate(45deg);
    top: 0px;
  }
  .main-nav .menu-btn:checked + * .navicon:after {
    transform: rotate(-45deg);
    top: 0px;
  }
  /*----------------------------... to here----------------------------*/
  
  /*------##########Package and specials##########------*/
  .package-special-wallpaper {       /* <--- reducing font size and styling for mobile devices */
    font-size: 16px;
    height:250px;
    margin-top: 50px;
    background-size: 200%;
  }
  .package-special-body {            /* <--- reducing font size */
    font-size: 11px;
  }
}

/*----------------------------MEDIA RULE 480px----------------------------*/
@media (max-width: 480px) {    /* <--- removing phone info from header */
  .header-phone {              
    display: none;
  }
  
  /*------##########Navigation##########------*/
  .navicon {                   /* <--- styling hamburger menu icon to be more slim */
    height: 3px;
    width: 40px;
  }
  .navicon:before {            /* <--- styling hamburger menu icon to be more slim */
    height: 3px;
    width: 40px;
  }
  .navicon:after {             /* <--- styling hamburger menu icon to be more slim */
    height: 3px;
    width: 40px;
  }
}


























